body {
  padding: 0% 8% 0%;
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: whitesmoke;
  box-shadow: 4px 4px rgb(214, 212, 212);
}

th,td {
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
}

.homeHeader {
  padding-right: 8%;
  color: orange;
  text-align: right;
  font-family: sans-serif;
}

.linkHeader {
  color: orange;
  text-align: center;
  font-family: sans-serif;
}

.rightSideContent {
  margin: auto 0;
}

#gif {
  padding-left: 40%;
}

.hide {
  visibility: hidden;
}
