body {
  padding: 0% 8% 0%;
}

.homeHeader {
  padding-right: 8%;
  color: orange;
  text-align: right;
  font-family: sans-serif;
}

.linkHeader {
  color: orange;
  text-align: center;
  font-family: sans-serif;
}

.rightSideContent {
  margin: auto 0;
}

#gif {
  padding-left: 40%;
}

.hide {
  visibility: hidden;
}
